name: build

on: [push, pull_request]

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: "1.25"
    - uses: golangci/golangci-lint-action@v9
    - name: Test
      run: |
        go vet ./...
        go test ./...
    - name: Bench
      run: |
        cd treemap/bench
        go test -benchmem -bench . ./...
